PGHOST=localhost
PGPORT=5432
PGDATABASE=neurographiq_kg_v2
PGUSER=postgres
PGPASSWORD=root
PGSCHEMA=neurokg

DEEPSEEK_API_KEY=change_me
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
